@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

* {
    font-family: 'Quicksand', sans-serif;
    /* Colors */
    --bg-light:                #f4f4f4;
    --bg-dark:                 #222;
    --p-bg-light:              #FFF;
    --p-bg-dark:               #333;
    --p-hover-light-red:       #FDD;
    --p-hover-dark-red:        #322;
    --p-button:                #bbf;
    --p-del-light:             #f3a6a0;
    --p-del-dark:              #801f18;
    --p-ed-light:              #a2c7a4;
    --p-ed-dark:               #105c14;
    --normal-font-color-light: #333;
    --normal-font-color-dark:  #FFF;
    --b-font-color-light:      #900;
    --b-font-color-dark:       #f88;
    --i-font-color-light:      #00B;
    --i-font-color-dark:       #88f;
    --u-font-color-light:      #090;
    --u-font-color-dark:       #8f8;
    --d-font-color-light:      #999;
    --d-font-color-dark:       #666;
    --a-font-color-light:      #a0f;
    --a-font-color-dark:       #f7f;
    --pp-hint:                 #aaa;
    --pp-b-submit-light:       #ccf;
    --pp-b-submit-dark:        #228;
    --pp-b-close-light:        #fcc;
    --pp-b-close-dark:         #822;
    --pp-input-dark:           #333;
    --title-dark:              #FFF;
    --code-color-dark:         #444;
}
body { background-color: var(--bg-light); }
#title {
    text-align: center;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, .2);
}
.menu { transition: .1s all ease-in-out; }
.container {
    margin: 0;
    padding: 0;
}
.paragraph {
    line-height: 1.6;
    margin: 0;
    padding: 10px;
    border-radius: 5px;
}
.paragraph:hover { background-color: var(--p-hover-light-red); }
#search, #searchType, #create, .paragraph .text, .paragraph .preview, button.sort {
    font: small-caps 20px 'Quicksand', sans-serif;
    color: var(--normal-font-color-light);
    background-color: var(--p-bg-light);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.paragraph h2 { text-shadow: 4px 4px 4px rgba(0, 0, 0, .2); }
.paragraph .text b, .paragraph .text strong { color: var(--b-font-color-light); }
.paragraph .text i, .paragraph .text em { color: var(--i-font-color-light); }
.paragraph .text u, .paragraph .text ins { color: var(--u-font-color-light); }
.paragraph .text s, .paragraph .text del { color: var(--d-font-color-light); }
.paragraph .text blockquote { margin-left: 40px; }
.paragraph .text a {
    color: var(--a-font-color-light);
    text-decoration: none;
}
.paragraph .text a:hover { text-decoration: underline; }
.paragraph .text * {
    background-color: transparent;
    text-shadow: none;
    margin: 0;
    padding: 0;
    border: 0;
}
.paragraph .text code {
    font-family: '0xProto Nerd Font Mono','Cascadia Mono', 'Consolas', monospace;
    background-color: var(--bg-light);
    font-variant: normal;
    border-radius: 5px;
}
.paragraph .text input[type="text"] {
    border: none;
    border-radius: 5px;
    background-color: var(--bg-light);
    width: 200px;
}
.paragraph .text input[type="button"],
.paragraph .text input[type="reset"],
.paragraph .text input[type="submit"],
.paragraph .text button {
    border: none;
    border-radius: 10px;
    height: 50px;
    background-color: var(--p-button);
    box-shadow: 4px 4px 4px rgba(0, 0, 0, .2);
    cursor: pointer;
}
.paragraph .text input[type="reset"] { background-color: #fbb; }
#create {
    float: right;
    border-radius: 20px;
    font-size: 2em;
    margin: 0;
    padding: 10px 20px;
}
#search, #create, #searchType { border: none; }
#create:hover { cursor: pointer; }
#create:active, #searchType:active { box-shadow: none; }
#search { font-variant: normal; }
#search:focus {
    animation: searchHover .8s;
    width: var(--width);
}
#search:not(:focus) {
    animation: searchNotHover .8s;
    width: 253px;
}
@keyframes searchHover {
    0% { width: 253px; }
    100% { width: var(--width); }
}
@keyframes searchNotHover {
    0% { width: var(--width); }
    100% { width: 253px; }
}
.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 20px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.popup input#header {
    margin-bottom: 5px;
    width: 300px;
}
.popup input#header:focus {
    animation: popupHeaderHover .8s;
    width: 500px;
}
.popup input#header:not(:focus) {
    animation: popupHeaderNotHover .8s;
    width: 300px;
}
@keyframes popupHeaderHover {
    0% { width: 300px; }
    100% { width: 500px; }
}
@keyframes popupHeaderNotHover {
    0% { width: 500px; }
    100% { width: 300px; }
}
.popup input#header, .popup button, .popup textarea {
    border: none;
    padding: 10px;
    border-radius: 5px;
}
.popup input#header, .popup textarea { background-color: var(--bg-light); }
.popup button { cursor: pointer; }
.popup button#submit, .popup button#submitEdit { background-color: var(--pp-b-submit-light); }
.popup button#close { background-color: var(--pp-b-close-light); }
.popup textarea {
    width: 500px;
    height: 250px;
}
#popupheader {
    background-color: var(--p-bg-light);
    text-align: center;
}
#popuphint {
    color: var(--pp-hint);
    background-color: var(--p-bg-light);
    font-size: 12px;
    margin: 0;
}
.paragraph .delete, .paragraph .edit {
    float: right;
    width: 50px;
    height: 30px;
    border: none;
    border-radius: 15px;
    color: black;
    cursor: pointer;
    margin-top: -10px;
}
.paragraph .delete { background: var(--p-del-light) !important; }
.paragraph .edit { background: var(--p-ed-light) !important; }
button.sort {
    border: none;
    position: fixed;
    top: 80%;
    left: 100%;
    transform: translate(-100%, -80%);
}
@media (prefers-color-scheme: dark) {
    body { background-color: var(--bg-dark); }
    #search, #searchType, #create, .paragraph .text, .paragraph .preview, button.sort {
        color: var(--normal-font-color-dark);
        background-color: var(--p-bg-dark);
    }
    #title, .paragraph h2 {
        color: var(--title-dark);
        text-shadow: 4px 4px 4px rgba(255, 255, 255, .2);
    }
    .paragraph .text b, .paragraph .text strong { color: var(--b-font-color-dark); }
    .paragraph .text i, .paragraph .text em { color: var(--i-font-color-dark); }
    .paragraph .text u, .paragraph .text ins { color: var(--u-font-color-dark); }
    .paragraph .text s, .paragraph .text del { color: var(--d-font-color-dark); }
    .paragraph .text a {
        color: var(--a-font-color-dark);
        text-decoration: none;
    }
    .paragraph .text code { background-color: var(--code-color-dark); }
    .popup {
        background-color: var(--bg-dark);
        box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
    }
    .popup input#header, .popup button, .popup textarea {
        background-color: var(--pp-input-dark);
        color: var(--normal-font-color-dark);
    }
    .popup button#submit, .popup button#submitEdit {
        color: var(--normal-font-color-dark);
        background-color: var(--pp-b-submit-dark);
    }
    .popup button#close{
        color: var(--normal-font-color-dark);
        background-color: var(--pp-b-close-dark);
    }
    #popupheader {
        color: var(--normal-font-color-dark);
        background-color: var(--bg-dark);
    }
    #popuphint { background-color: var(--bg-dark); }
    .paragraph:hover { background-color: var(--p-hover-dark-red); }
    .popup .opt, .paragraph .HTMLPreviewHint { color: var(--normal-font-color-dark); }
    .paragraph .delete { background: var(--p-del-dark) !important; }
    .paragraph .edit { background: var(--p-ed-dark) !important; }
    .paragraph .delete, .paragraph .edit { color: var(--normal-font-color-dark); }
}
