@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

* { font-family: 'Quicksand', sans-serif; }
body { background-color: #f4f4f4; }
#title {
    text-align: center;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, .2);
}
.menu { transition: .1s all ease-in-out; }
.container {
    margin: 0;
    padding: 0;
}
.paragraph {
    line-height: 1.6;
    margin: 0;
    padding: 10px;
    border-radius: 5px;
}
.paragraph:hover { background-color: #FDD; }
#search, #searchType, #create, .paragraph .text, .paragraph .preview, button.sort {
    font: small-caps 20px 'Quicksand', sans-serif;
    color: #333;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.paragraph h2 { text-shadow: 4px 4px 4px rgba(0, 0, 0, .2); }
.paragraph .text b, strong { color: #900; }
.paragraph .text i, em { color: #00B; }
.paragraph .text u { color: #090; }
.paragraph .text del { color: #999; }
.paragraph .text a {
    color: #a0f;
    text-decoration: none;
}
.paragraph .text a:hover { text-decoration: underline; }
.paragraph .text * {
    background-color: transparent;
    text-shadow: none;
    margin: 0;
    padding: 0;
    border: 0;
}
.paragraph .text code {
    font-family: '0xProto Nerd Font Mono','Cascadia Mono', 'Consolas', monospace;
    background-color: #f4f4f4;
    font-variant: normal;
    border-radius: 5px;
}
.paragraph .text input[type="text"] {
    border: none;
    border-radius: 5px;
    background-color: #f4f4f4;
    width: 200px;
}
.paragraph .text input[type="button"],
.paragraph .text input[type="reset"],
.paragraph .text input[type="submit"],
.paragraph .text button {
    border: none;
    border-radius: 10px;
    height: 50px;
    background-color: #bbf;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, .2);
    cursor: pointer;
}
.paragraph .text input[type="reset"] { background-color: #fbb; }
#create {
    float: right;
    border-radius: 20px;
    font-size: 2em;
    margin: 0;
    padding: 10px 20px;
}
#search, #create, #searchType { border: none; }
#create:hover { cursor: pointer; }
#create:active, #searchType:active { box-shadow: none; }
#search { font-variant: normal; }
#search:hover {
    animation: searchHover .8s;
    width: 800px;
}
#search:not(:hover) {
    animation: searchNotHover .8s;
    width: 253px;
}
@keyframes searchHover {
    0% { width: 253px; }
    100% { width: 800px; }
}
@keyframes searchNotHover {
    0% { width: 800px; }
    100% { width: 253px; }
}
.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 20px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.popup input#header {
    margin-bottom: 5px;
    width: 300px;
}
.popup input#header, .popup button, .popup textarea {
    border: none;
    padding: 10px;
    border-radius: 5px;
}
.popup input#header, .popup textarea { background-color: #f4f4f4; }
.popup button { cursor: pointer; }
.popup button#submit, .popup button#submitEdit { background-color: #ccf; }
.popup button#close { background-color: #fcc; }
.popup textarea {
    width: 500px;
    height: 250px;
}
#popupheader {
    background-color: #fff;
    text-align: center;
}
#popuphint {
    color: #aaa;
    background-color: #fff;
    font-size: 12px;
    margin: 0;
}
#addToFirstLine { display: none; }
#addToFirstLine:checked + span { background-color: #1A4; }
#addToFirstLine:not(:checked) + span svg { display: none; }
.paragraph .delete, .paragraph .edit {
    float: right;
    width: 50px;
    height: 30px;
    border: none;
    border-radius: 15px;
    color: black;
    cursor: pointer;
    margin-top: -10px;
}
.paragraph .delete { background: #f3a6a0 !important; }
.paragraph .edit { background: #a2c7a4 !important; }
button.sort {
    border: none;
    position: fixed;
    top: 80%;
    left: 100%;
    transform: translate(-100%, -80%);
}
@media (prefers-color-scheme: dark) {
    body { background-color: #222; }
    #search, #searchType, #create, .paragraph .text, .paragraph .preview, button.sort {
        color: #FFF;
        background-color: #333;
    }
    #title, .paragraph h2 {
        color: #FFF;
        text-shadow: 4px 4px 4px rgba(255, 255, 255, .2);
    }
    .paragraph .text b, strong { color: #F88; }
    .paragraph .text i, em { color: #88F; }
    .paragraph .text u { color: #8F8; }
    .paragraph .text del { color: #666; }
    .paragraph .text a {
        color: #f7f;
        text-decoration: none;
    }
    .paragraph .text code { background-color: #444; }
    .popup {
        background-color: #222;
        box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
    }
    .popup input#header, .popup button, .popup textarea {
        background-color: #333;
        color: #FFF;
    }
    .popup button#submit, .popup button#submitEdit {
        color: #FFF;
        background-color: #228;
    }
    .popup button#close {
        color: #FFF;
        background-color: #822;
    }
    #popupheader {
        color: #FFF;
        background-color: #222;
    }
    #popuphint { background-color: #222; }
    #addToFirstLine:checked + span { background-color: #090; }
    .paragraph:hover { background-color: #322; }
    .popup .opt, .paragraph .HTMLPreviewHint { color: #FFF; }
    .paragraph .delete { background: #801f18 !important; }
    .paragraph .edit { background: #105c14 !important; }
    .paragraph .delete, .paragraph .edit { color: white; }
}
